<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table th:border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <tr th:each="user : ${showAllUsers}">
            <td th:text="${user.getId}"/>
            <td th:text="${user.getName}"/>
            <td th:text="${user.getAge}"/>
            <td th:text="${user.getEmail()}"/>
            <td>
                <a th:href="@{{id}/edit(id=${user.getId()})}">
                    <input th:type="submit" value=" Edit ">
                </a>
                <form th:method="DELETE" th:action="@{{id}(id=${user.getId()})}">
                    <input th:type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
    <br/>
    <a href="/new">Create new user</a>

</div>
</body>